# Exclude development and test files
__tests__
*.test.js
*.spec.js
test/
tests/
coverage/

# Exclude build artifacts
src/
build/
node_modules/
uploads/

# Exclude configuration files
.eslintignore
.eslintrc
.prettierignore
.prettierrc
babel.config.js
jest.config.js

# Exclude version control files
.git/
.gitignore
.gihub/

# Exclude IDE files
.vscode
